@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

nav {
  background-color: #0e1428;
}

body {
  font-family: "Montserrat", sans-serif;
}

.primary {
  background-color: #7690d0;
  transition: all 0.2s;
}

.primary:hover {
  background-color: #5f7eb8;
}

.secondary {
  color: #7690d0;
  border: 3px solid #7690d0;
  transition: all 0.2s;
}

.secondary:hover {
  background-color: #eeecec;
}
